*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --main-color: #1b201e;
    --second-color: #88b498;
    --third-color: #408A71;
    --fourth-color: #B0E4CC;
    --text-color: black;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1cm;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#countdown {
    font-size: 1.2cm;
    font-weight: bold;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

body, html {
    background-color: var(--main-color);
}

body {
    background-image: linear-gradient(to bottom, var(--main-color), #717f7a);
    padding: 0px 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, p {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

nav {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--second-color);
    max-width: 300px;
    margin-left: 400px;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    animation: 0.75s ringing;
}

nav:hover {
    animation: ringing 0.75s linear infinite;
}

@keyframes ringing {
    0%   {transform: rotate(0deg);}
    20%  {transform: rotate(5deg); background-color: var(--second-color);}
    40%  {transform: rotate(-5deg); background-color: var(--second-color);}
    60%  {transform: rotate(5deg); background-color: var(--second-color);}
    80%  {transform: rotate(-5deg);}
    100%  {transform: rotate(0deg);}
}

#intro {
    border-radius: 15px;
    border-style: hidden;
    background-color: var(--second-color);
    padding-left: 3px;
    height: 150px;
    text-align: center;
    padding: auto;
}

#gameSelector {
    border-radius: 15px;
    border-color: var(--second-color);
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color);
}

#gameSelector h1 {
    display: flex;
    justify-content: center;
}

#gameOptions {
    display: flex;
    justify-content: space-evenly;
}

.gameCard {
    flex: 1;
    max-width: 350px;
    height: 400px;
    background: rgb(58, 62, 61);
    padding: .4em;
    border: 3px solid var(--fourth-color);
    border-radius: 6px;
}

.gameImg {
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 250px;
}

.gameTitle {
    color: var(--text-color);
    text-align: center;
}

.gameDesc {
    text-align: center;
}


.timerInput, .hours, .minutes, .seconds {
    text-align: center;
    padding-inline: 30px;
    transform: translate(37px);
    display: inline-block;
}

.increaseHour, .increaseMinute, .increaseSecond, .decreaseHour, .decreaseMinute, .decreaseSecond {
    font-size: 20px;
    color: var(--text-color);
    background-color: var(--main-color);
}

.decreaseHour, .decreaseMinute, .decreaseSecond {
    margin-bottom: 15px;
}

.hNumber, .mNumber, .sNumber {
    font-size: 30px;
}

#confirm {
    color: var(--text-color);
    font-size: 25px;
    background-color: var(--main-color);
    padding: 10px;
    margin-left: 5cm;
    cursor: pointer;
}

#return {
    color: var(--text-color);
    font-size: 15px;
    background-color: var(--main-color);
    padding: 10px;
    cursor: pointer;
}

.runningTimer {
    display: inline-flex;
    transform: translate(415px);
    font-size: 50px;
    color:white;
    border-radius: 10px;
    border:solid;
    border-color: white;
}
